<html>
	<head>
		<link rel="stylesheet" type="text/css" href="stylesheets/index.css">
		<title>vinnycoyne.com</title>
	</head>
	<body>
		<div class="index_site_header">
			<div class="index_site_title"><a href="index.html">vinnycoyne.com</a></div>
			<div class="index_site_subtitle">Magical adventures in nerdery.</div>
		</div>
		<div class="index_posts">
			$(POSTS)

			<div class="index_posts_footer">

				<div class="index_posts_navigation">
					<div class="index_posts_navigation_older">$(POSTS_OLDER)</div><div class="index_posts_navigation_newer">$(POSTS_NEWER)</div>
				</div>

				<p class="copyright">$(COPYRIGHT)</p>
			</div>

		</div>
	</body>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-1167220-1', 'auto');
	  ga('send', 'pageview');

	</script>
</html>